{% extends 'project/base.html' %}
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
</head>

<body>
    <div class="sidenav">
        <a href="#"><i class="fa fa-fw fa-user"></i>Student</a>
        <a href="#"><i class="fa fa-fw fa-calendar"></i>Calendar</a>
        <a href="{% url 'course_add' %}"><i class="fa fa-fw fa-book"></i>Courses</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i>Inbox</a>
        <a href="{% url 'logout' %}">Log Out</a>
    </div>
    

    <div class="main">
        <div class="sidebar">
            <a href="#about">Student List</a>
            <a href="#services">Class Disscusion</a>
            <a href="#clients">Assignments</a>
            <a href="#contact">Contact</a>
          </div>
        <h1>Assignment Page</h1>
        <h2>Hi {{ user.username}}</h2>
        {% block content %}
        
          {% for assignment in object_list %}
          
            <p>{{assignment.title }}</p>
            <p>{{ assignment.due_date }}</p>

          </div>
          
          {% endfor %}
        {% endblock content %}

          </div>
         

    </div>


</body>

</html>