{% extends 'project/base.html' %}

{% block content %}
{% for group in user.groups.all %}
{% if group.name == course.title %}
<h2><a href="/courses/{{ course.id }}">{{ course.title }}</a> > Assignments</h2>
<br>
<ul>
    {% for assignment in assignments %}
    {% if course.instructor == user %}
    <li>
        <h3><a href="assignments/{{ assignment.id }}">{{ assignment.title }}</a></h3>
    </li>

    {% else %}
    <li>
        <h3><a href="assignments/{{ assignment.id }}">{{ assignment.title }}</a></h3>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endblock content %}
