{% extends 'project/coursebase.html' %}

{% block content %}
{% for group in user.groups.all %}
{% if group.name == course.title %}
<h2><a href="/courses/{{ course.id }}">{{ course.title }}</a> > Assignments</h2>
<br>
<ul>
    {% for assignment in assignments %}
    <li>
        <h3><a href="assignments/{{ assignment.id }}">{{ assignment.title }}</a></h3>
    </li>
    {% endfor %}
</ul>
{% if user == course.instructor %}
<br>
<h4><a href="/courses/{{ course.id }}/assignments/add">Add Assignment</a></h4>
{% endif %}
{% endif %}
{% endfor %}
{% endblock content %}
