{% extends 'project/base.html' %}

{% block content %}
{% if message %}
<h4>{{ message }}</h4>
{% else %}
<h2>{{ user.username }}'s Courses</h2>
<br>
{% endif %}
<ul>
    {% for course in courses %}
    {% if course.instructor == user %}
    <li>
        <h3><a href="{{ course.id }}">{{ course.title }}</a> - Instructor</h3>
    </li>

    {% else %}
    <li>
        <h3><a href="{{ course.id }}">{{ course.title }}</a></h3>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<br>
<h4><a href="/courses/add">Create a New Course</a></h4>
{% endblock content %}
