{% extends 'project/base.html' %}

{% block content %}
{% for group in user.groups.all %}
{% if group.name == course.title %}
<h2><a href="/courses/{{ course.id }}">{{ course.title }}</a> > Discussion</h2>
<br>
<h4><a href="/courses/{{ course.id }}/discussion/add">New Post</a></h4>
<br>
{% for Post in discussion reversed %}
<div style="background-color:lightgray; padding:5px; border:1px solid black">
    <h4>{{ Post.title }}</h4>
    {% if Post.author == user or user == course.instructor %}
    <p><b>{{ Post.author }}, {{ Post.time }} </b><a href="/courses/{{ course.id }}/discussion/{{ Post.id }}/delete">Delete Post</a></p>
    <p>{{ Post.body }}</p>
    {% else %}
    <p><b>{{ Post.author }}, {{ Post.time }}</b></p>
    <p>{{ Post.body }}</p>
    {% endif %}
</div>
<br>
{% endfor %}

{% endif %}
{% endfor %}

{% endblock content %}
