{% extends 'project/base.html' %}

{% block content %}
{% for group in user.groups.all %}
{% if group.name == course.title %}
<h2><a href="/courses/{{ course.id }}">{{ course.title }}</a> > Grades</h2>

<br>

{% if course.instructor == user %}
<h3><a href="assignments/{{ assignment.id }}">{{ assignment.title }}</a></h3>

{% else %}

<table style="width:100%; border-spacing: 15px;">
    <tr>
        <th>
            <h4>Name</h4>
        </th>
        <th>
            <h4>Due</h4>
        </th>
        <th>
            <h4>Grade</h4>
        </th>
    </tr>

    {% for assignment in assignments %}

    <tr>
        <td><a href="assignments/{{ assignment.id }}">{{ assignment.title }}</a></td>
        <td>{{ assignment.due_date }}</td>
        {% for submission in submissions %}
        {% if submission.assignment == assignment %}
        <td>{{ submission.points_received }} / {{ assignment.points_possible }}</td>
        {% endif %}
        {% endfor %}
    </tr>

    {% endfor %}

</table>
<br>
<h3>Grade: {{ points.2 }}% ({{ points.0 }} / {{ points.1 }} Points)</h3>

{% endif %}

{% endif %}
{% endfor %}

{% endblock content %}
