{% extends 'project/base.html' %}

{% block content %}
<h1>Welcome to Easel!</h1>
<h4>A CS 350 Final Project</h4>
<br>
<p>Use the <a href="/courselist">Courses Page</a> to join and leave any course another user creates. Create your own course by accessing the <a href="/courses">My Courses</a> page.</p>
<p>Easel works like other, similar gradebook applications. Submit your work under each assignment, see a detailed display of received grades, and chat with other students to use this application to its fullest.</p>
<br>
<p>Developers: Erik Halenkamp, Junwen Huang, Yusuf Kortobi, Asepha Schaeffer</p>
{% endblock content %}
