{% extends 'project/coursebase.html' %}

{% block content %}
{% for group in user.groups.all %}
{% if group.name == course.title %}
{% if user == course.instructor or user.id == student.id %}
<h2><a href="/courses/{{ course.id }}">{{ course.title }}</a> > <a href="/courses/{{ course.id }}/grades">Grades</a> > {{ student.username }}</h2>
<br>
<table style="width:100%; border-spacing: 15px;">
    <tr>
        <th>
            <h4>Name</h4>
        </th>
        <th>
            <h4>Grade</h4>
        </th>
    </tr>

    {% for assignment in assignments %}

    <tr>
        <td><a href="/courses/{{ course.id }}/assignments/{{ assignment.id }}">{{ assignment.title }}</a></td>

        <td style="width:10px; text-align:right; padding-right:5px;">
            {% for submission in submissions %}
            {% if submission.assignment == assignment %}
            {% if course.instructor == user %}
            <a href=" /courses/{{ course.id }}/assignments/{{ assignment.id }}/{{ submission.id}}/edit">{{ submission.points_received }}</a>
            {% else %}
            {{ submission.points_received }}
            {% endif %}
            {% endif %}
            {% endfor %}
        </td>
        <td>/ {{ assignment.points_possible }}</td>



    </tr>

    {% endfor %}

</table>
<br>
<h3>Grade: {{ points.2 }}% ({{ points.0 }} / {{ points.1 }} Points)</h3>
{% else %}
<h2>Insufficient Permissions to View This Page</h2>
{% endif %}
{% endif %}
{% endfor %}

{% endblock content %}
